<dom-module id="cells-silvino-dashboard-styles"><template><style>
:host {
  display: block;
  box-sizing: border-box;
  font-family: var(--cells-fontDefault, sans-serif);
  @apply --cells-silvino-dashboard; }

:host([hidden]), [hidden] {
  display: none !important; }

*, *:before, *:after {
  font: inherit;
  box-sizing: inherit; }

:host .card {
  text-align: center; }

:host .busqueda {
  border-radius: 10px;
  width: 100%;
  height: 30px;
  margin-top: 10px;
  font-size: 30px;
  border: none; }

</style></template></dom-module>