<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="cells-silvino-dashboard-styles.html">

<link rel="import" href="../cells-mocks-component/cells-mocks-component.html">
<link rel="import" href="bower_components/iron-ajax/iron-ajax.html">
<dom-module id="cells-silvino-dashboard">
  <script src="cells-silvino-dashboard.js"></script>
</dom-module>